@{
    ViewBag.Title = "home";
}

        @{
    
    Layout="~/Views/Shared/_Layout.cshtml";
    
}

   
    <!-- nav bar is coompleted here-->


    <div class="container">
        <div class="row">
            <h1>DARUSSALAM ISLAMIC STORE</h1>
            
             <h2>Welcome @ViewBag.name</h2> 
            
    
              

          
          <p>

</p>   	
      
       
  <!--<button id="slideShowButton"></button>  Optional button element. -->
  <script src="/Scripts/slideShow.js"></script>

            
            
            
            
            
            
            
            
            
                  
        </div>
        <div class="row">
        <div class="col-md-5">
                   
            
            <div id="slideShowImages"  style="border:solid ;border-color:white">
    <img src="/Images/d1.jpg" alt="Slide 1" />
    <img src="/Images/d2.jpg" alt="Slide 2" />
    <img src="/Images/d3.jpg" alt="Slide 3" />    
    <img src="/Images/d4.jpg" alt="Slide 4" />
    <img src="/Images/d5.jpg" alt="Slide 5" /> 
    <img src="/Images/d6.jpg" alt="Slide 5" />   
  </div>
            
               
          
        </div>
        <div class="col-md-4" style="margin-left:20%">

            <h2>NEW WEBSITE</h2>
                <p>Welcome to our new website. Please have a look around, any feedback is much appreciated.</p>
            <h2>A) Islamic Books Bundle</h2>
            <p>Qur'ran-e-Majeed
Ahadith,
Fiqh,
Seesah,
History,
Biography,
Story for kids,
Self Helf,
Library books,
islamic Dairy,
islamic Calendar,
Not Paid,
Book Mark,
kids Course,
General Knowledge</p>
             <h2>B) Islamic Digital Devices</h2>
                <p>

Pan Qur'an,
Memory Card,
CD's,
Cassetts,
Learning Devices kids,

</p>
            <h2>C) Sunnah Cure & Herbal Foods Corner</h2>
            <p>

Aab-e-zam Zam,
Hijamah kits,
Madina Dates,
Pak Khajor,
HONEY,
Flavour Honey,
OLIVE,
Zeton Oil,
Joo ka Daliya,
Gundum ka Daliya,
Kalonji,
ispagol,
Fruit Vingar,
ismad Surma,
MISWAAK,
Flavour Miswaak</p>
      <h2>TALK TO US</h2>
            <p>You can <a href="/contactus/contactus">Contact us</a> to get answers to your comments and concerns. </p>
        </div>
       </div>
     
       
    </div>
    
     <!-- page footer -->
   
    









   


