@{
    ViewBag.Title = "contactus";
}
      @{
    
    Layout="~/Views/Shared/_Layout.cshtml";
    
}
    
    <!-- nav bar is coompleted here-->

    <div class="container">
        <div class="row">
            <div class="col-md-5" style="margin-left:300px">
                <h1>Contact Us</h1>
                <p style="font:bold 300">If you have any comments or questions regarding Arduino, its products or this web site, please contact us on the follwing contact:</p>
                <ul>
                    <li style="font:bold 300">Hafiz Muhammad Danish</li>
                    <li>OFFICE:123 C,PCSIR College Road Township Lahore.</li>
                    <li>CELL:03454295624</li>
                     <li>EMAIL:bcsf11a020@pucit.edu.pk</li>
                    
                </ul>
                
            </div>
         </div>
        </div>
    
     <!-- page footer -->
    
   

    









   



