@{
    ViewBag.Title = "islamic devices";
}
      @{
    
    Layout="~/Views/Shared/_Layout.cshtml";
    
}
    <!-- nav bar is coompleted here-->


    
         <div class="row" style="margin-top:6%">
           
               
                
                    <div class="col-md-3" style="border:solid;margin-left:5%;margin-top:5%; border-color:#1c8787">
                    <form  method="post">
                        <img src="/Files/card.jpg" width="228" height="184">
                        <p>Memory Cards</p>
                             
                   
                    </form>

                </div>
                <div class="col-md-3" style="border:solid;margin-left:5%;margin-top:5%; border-color:#1c8787">
                    <form  method="post">
                        
                             <img src="/Files/cassets.jpg" width="228" height="184">
                        <p>Islamic Cassets</p>
                   
                    </form>

                </div>   <div class="col-md-3" style="border:solid;margin-left:5%;margin-top:5%; border-color:#1c8787">
                    <form  method="post">
                        <img src="/Files/cds.jpg" width="228" height="184">
                        <p>Islamic Cds</p>
                             
                      
                    </form>

                </div>   <div class="col-md-3" style="border:solid;margin-left:5%;margin-top:5%; border-color:#1c8787">
                    <form  method="post">
                        <img src="/Files/counter.jpg" width="228" height="184">
                        <p>Counter Tasbih</p>
                             
                   
                    </form>

                </div>   <div class="col-md-3" style="border:solid;margin-left:5%;margin-top:5%; border-color:#1c8787">
                    <form  method="post">
                        
                             <img src="/Files/pan.jpg" width="228" height="184">
                        <p>Quran pan</p>
                   
                    </form>

                </div>

                
            
                 
        </div>
    
     <!-- page footer -->
 




   


