@{
    ViewBag.Title = "foods";
}
      @{
    
    Layout="~/Views/Shared/_Layout.cshtml";
    
}
    <!-- nav bar is coompleted here-->


    
         <div class="row" style="margin-top:6%">
           
               
                
                    <div class="col-md-3" style="border:solid;margin-left:5%;margin-top:5%; border-color:#1c8787">
                    <form  method="post">
                        <img src="/Files/dates.jpg" width="228" height="184">
                        <p>Dates</p>
                             
                   
                    </form>

                </div>
                <div class="col-md-3" style="border:solid;margin-left:5%;margin-top:5%; border-color:#1c8787">
                    <form  method="post">
                        
                             <img src="/Files/honey.jpg" width="228" height="184">
                        <p>Honey</p>
                   
                    </form>

                </div>   <div class="col-md-3" style="border:solid;margin-left:5%;margin-top:5%; border-color:#1c8787">
                    <form  method="post">
                        <img src="/Files/miswak.jpg" width="228" height="184">
                        <p>Miswak</p>
                             
                   
                    </form>

                </div>   <div class="col-md-3" style="border:solid;margin-left:5%;margin-top:5%; border-color:#1c8787">
                    <form  method="post">
                        <img src="/Files/viniger.jpg" width="228" height="184">
                        <p>Viniger</p>
                             
                   
                    </form>

                </div>   <div class="col-md-3" style="border:solid;margin-left:5%;margin-top:5%; border-color:#1c8787">
                    <form  method="post">
                        
                             <img src="/Files/zam.jpg" width="228" height="184">
                        <p>Aab e zam zam</p>
                   
                    </form>

                </div>   <div class="col-md-3" style="border:solid;margin-left:5%;margin-top:5%; border-color:#1c8787">
                    <form  method="post">
                        
                             <img src="/Files/zetoon.jpg" width="228" height="184">
                        <p>Zetoon oil</p>
                   
                    </form>

                </div> 
            
                 
        </div>
    
     <!-- page footer -->
 




   


