@{
    ViewBag.Title = "wearing";
}
      @{
    
    Layout="~/Views/Shared/_Layout.cshtml";
    
}
    <!-- nav bar is coompleted here-->


    
         <div class="row" style="margin-top:6%">
           
               
                
                    <div class="col-md-3" style="border:solid;margin-left:5%;margin-top:5%; border-color:#1c8787">
                    <form  method="post">
                        <img src="/Files/hijab.jpg" width="228" height="184"/>
                        <p>Islamic Hijab</p>
                             
                   
                    </form>

                </div>
                <div class="col-md-3" style="border:solid;margin-left:5%;margin-top:5%; border-color:#1c8787">
                    <form  method="post">
                        
                             <img src="/Files/ihram.jpg" width="228" height="184">
                        <p>Ihram</p>
                   
                    </form>

                </div>   <div class="col-md-3" style="border:solid;margin-left:5%;margin-top:5%; border-color:#1c8787">
                    <form  method="post">
                        <img src="/Files/kafan.jpg" width="228" height="184">
                        <p>kafan</p>
                             
                   
                    </form>

                </div>   <div class="col-md-3" style="border:solid;margin-left:5%;margin-top:5%; border-color:#1c8787">
                    <form  method="post">
                        <img src="/Files/socks.jpg" width="228" height="184">
                        <p>Socks</p>
                             
                   
                    </form>

                </div>   <div class="col-md-3" style="border:solid;margin-left:5%;margin-top:5%; border-color:#1c8787">
                    <form  method="post">
                        
                             <img src="/Files/mat.jpg" width="228" height="184">
                        <p>Prayer mat</p>
                   
                    </form>

             </div>
                 
        </div>
    
     <!-- page footer -->
 




   


